@using Accessories_Store.Helpers;
@inject Accessories_Store.Areas.Admin.Services.ICategoryRepo ICategoryRepo
@inject Accessories_Store.Areas.Admin.Services.IOrderRepo IOrderRepo
<div class="content-wrapper">
    <!-- Content -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1">
            <li class="breadcrumb-item">
                <a asp-area="admin" asp-controller="home" asp-action="index">Trang chủ</a>
            </li>

        </ol>
    </nav>
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-6 col-lg-6">
                <div class="row">
                    <div class="col-lg-12 col-md-12 order-1">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-6 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title d-flex align-items-start justify-content-between">
                                            <div class="avatar flex-shrink-0">
                                                <img src="~/adminAssets/img/icons/unicons/chart-success.png"
                                                     alt="chart success"
                                                     class="rounded" />
                                            </div>
                                            @* <div class="dropdown">
                                                <button class="btn p-0"
                                                        type="button"
                                                        id="cardOpt3"
                                                        data-bs-toggle="dropdown"
                                                        aria-haspopup="true"
                                                        aria-expanded="false">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                                    <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                                    <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                                </div>
                                            </div> *@
                                        </div>
                                        <span class="fw-medium d-block mb-1">Doanh thu</span>
                                        <h3 class="card-title mb-2">@String.Format("{0:N0}",ViewBag.Revenue)đ</h3>
                                        <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i> +72.80%</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-6 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title d-flex align-items-start justify-content-between">
                                            <div class="avatar flex-shrink-0">
                                                <img src="~/adminAssets/img/icons/unicons/wallet-info.png"
                                                     alt="Credit Card"
                                                     class="rounded" />
                                            </div>
                                            @* <div class="dropdown">
                                                <button class="btn p-0"
                                                        type="button"
                                                        id="cardOpt6"
                                                        data-bs-toggle="dropdown"
                                                        aria-haspopup="true"
                                                        aria-expanded="false">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
                                                    <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                                    <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                                </div>
                                            </div> *@
                                        </div>
                                        <span>Giảm giá</span>
                                        <h3 class="card-title text-nowrap mb-1">@String.Format("{0:N0}",ViewBag.Discount)đ</h3>
                                        <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i> +28.42%</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 order-3 order-md-2">
                        <div class="row">
                            <div class="col-6 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title d-flex align-items-start justify-content-between">
                                            <div class="avatar flex-shrink-0">
                                                <img src="~/adminAssets/img/icons/unicons/paypal.png" alt="Credit Card" class="rounded" />
                                            </div>
                                            @* <div class="dropdown">
                                                <button class="btn p-0"
                                                        type="button"
                                                        id="cardOpt4"
                                                        data-bs-toggle="dropdown"
                                                        aria-haspopup="true"
                                                        aria-expanded="false">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt4">
                                                    <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                                    <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                                </div> 
                                            </div>*@
                                        </div>
                                        <span class="d-block mb-1">Thanh toán COD</span>
                                        <h3 class="card-title text-nowrap mb-2">@String.Format("{0:N0}",ViewBag.CODPayment)đ</h3>
                                        <small class="text-danger fw-medium"><i class="bx bx-down-arrow-alt"></i> -14.82%</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title d-flex align-items-start justify-content-between">
                                            <div class="avatar flex-shrink-0">
                                                <img src="~/adminAssets/img/icons/unicons/cc-primary.png" alt="Credit Card" class="rounded" />
                                            </div>
                                           @*  <div class="dropdown">
                                                <button class="btn p-0"
                                                        type="button"
                                                        id="cardOpt1"
                                                        data-bs-toggle="dropdown"
                                                        aria-haspopup="true"
                                                        aria-expanded="false">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="cardOpt1">
                                                    <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                                    <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                                </div>
                                            </div> *@
                                        </div>
                                        <span class="fw-medium d-block mb-1">Thanh toán Ví</span>
                                        <h3 class="card-title mb-2">@String.Format("{0:N0}",ViewBag.WalletPayment)đ</h3>
                                        <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i> +28.14%</small>
                                    </div>
                                </div>
                            </div>
                            <!-- </div>
                            <div class="row"> -->
                            <div class="col-12 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between flex-sm-row flex-column gap-3">
                                            <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                                                <div class="card-title">
                                                    <h5 class="text-nowrap mb-2">Hồ sơ tài chính</h5>
                                                    <span class="badge bg-label-warning rounded-pill">Năm 2024</span>
                                                </div>
                                                <div class="mt-sm-auto">
                                                    <small class="text-success text-nowrap fw-medium"><i class="bx bx-chevron-up"></i> 68.2%</small>
                                                    <h3 class="mb-0">@String.Format("{0:N0}",ViewBag.Revenue)đ</h3>
                                                </div>
                                            </div>
                                            <div id="profileReportChart"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Total Revenue -->
            <div class="col-6 col-lg-6">
                <div class="row">
                    <!-- Order Statistics -->
                    <div class="col-md-12 col-lg-12 col-xl-12 order-0 mb-4">
                        <div class="card h-100">
                            @{
                                var totalOrder = await IOrderRepo.GetAllAsync();
                                var categories = await ICategoryRepo.GetAllAsync();

                            }
                            <div class="card-header d-flex align-items-center justify-content-between pb-0">
                                <div class="card-title mb-0">
                                    <h5 class="m-0 me-2">Thống kê đơn hàng</h5>
                                    <small class="text-muted">@totalOrder.Where(x=>x.TotalDiscount >0).Count() đơn sử dụng ưu đãi</small>
                                </div>
                                @* <div class="dropdown">
                                    <button class="btn p-0"
                                            type="button"
                                            id="orederStatistics"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics">
                                        <a class="dropdown-item" href="javascript:void(0);">Select All</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Share</a>
                                    </div>
                                </div> *@
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <div class="d-flex flex-column align-items-center gap-1">
                                        <h2 class="mb-2">
                                           
                                            @totalOrder.Count()
                                        </h2>
                                        <span>Tổng đơn hàng</span>
                                    </div>
                                    <div id="orderStatisticsChart"></div>
                                </div>
                                <ul class="p-0 m-0">
                                    @foreach(var cat in categories)
                                    {
                                        @if (cat.ParentId < 0 && cat.TypeId == CategoryTypeStatus.CategoryStatus)
                                        {
                                            double? totalAmount = 0;
                                            <li class="d-flex mb-4 pb-1">
                                                
                                                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                    <div class="avatar-initial rounded bg-label-primary p-2 me-2">
                                                        <h6 class="mb-0">@cat.Name</h6>
                                                        <small class="text-muted"></small>
                                                    </div>
                                                    <div class="user-progress">
                                                        <small class="fw-medium">
                                                            @foreach (var item in totalOrder)
                                                            {
                                                                
                                                                @foreach (var orderDetail in item.OrderDetails)
                                                                {
                                                                    @if (orderDetail?.Product?.Category?.Id == cat.Id)
                                                                    {
                                                                        totalAmount += (orderDetail.Price * orderDetail.Quantity);
                                                                    }

                                                                }
                                                            }
                                                            @String.Format("{0:N0}",@totalAmount)đ
                                                        </small>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/ Order Statistics -->

                </div>
            </div>
            <!--/ Total Revenue -->
        </div>
    </div>
    <!-- / Content -->
   

    <div class="content-backdrop fade"></div>
</div>