@using Accessories_Store.Helpers;
@model List<Accessories_Store.Models.Entities.Order>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/admin/orders/@item.Id/details"><span class="fw-medium">#@item.Id</span></a>
            </td>
            <td>
                @item.CreatedAt
            </td>
            <td>
                <div class="d-flex justify-content-start align-items-center product-name">
                    <div class="d-flex flex-column">
                        <h6 class="text-body text-nowrap mb-0">@item.Name</h6>
                        <small class="text-muted text-truncate d-none d-sm-block">@item.Phone</small>
                    </div>
                </div>
            </td>

            <td>@item.Address</td>

            <td>
                @item.TotalPrice đ
            </td>


            <td>
                @if (item.OrderStatusPayment == PaymentType.StatusCOD)
                {
                    <span class="badge bg-label-success me-1">COD</span>
                }
                else if (item.OrderStatusPayment == PaymentType.StatusVNPAY)
                {
                    <span class="badge bg-label-primary me-1">VN Pay</span>
                }

            </td>
            <td>
                @if (item.Status == Status.StatusOk)
                {
                    <span class="badge bg-label-primary me-1 ">Đã duyệt</span>
                }
                else if (item.Status == Status.StatusCancel)
                {
                    <span class="badge bg-label-secondary me-1 ">Đã hủy</span>

                }
                else if (item.Status == Status.StatusNotConfirmed)
                {
                    <span class="badge bg-label-secondary me-1 ">Chưa duyệt</span>

                }

            </td>
            <td>

                <div class="dropdown">
                    <a href="/admin/orders/@item.Id/details" class="btn btn-sm btn-icon">
                        <i class="bx bx-show"></i>
                    </a>
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                        <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu">
                        @if (item.Status == Status.StatusNotConfirmed)
                        {
                            <a class="dropdown-item" href="/admin/orders/@item.Id/edit"><i class="bx bx-check me-1"></i> Duyệt</a>
                        }
                        <a class="dropdown-item" href="/admin/orders/@item.Id/delete"><i class="bx bx-trash me-1"></i> Delete</a>
                    </div>
                </div>
            </td>

        </tr>
    }
}
